.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: white;
  width: 100%;
  z-index: -1;
}

.footer_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 2rem;
}

.footer_main a,
.footer_main p {
  text-decoration: none;
  color: black;
}

.footer_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_left img {
  width: 50px;
  height: 50px;
}

.footer_left a {
  font-family: 'Satisfy', cursive;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.footer_right,
.footer_middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.footer_middle p,
.footer_right p {
  color: black;
  border-bottom: 2px solid black;
  font-family: 'Satisfy', cursive;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  text-align: center;
}

.footer_middle a,
.footer_right a {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.footer_bottom {
  border-top: 2px solid black;
  border-width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer_bottom .social_media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_bottom .social_media div {
  margin: 1rem;
}

.footer_bottom .social_media img {
  width: 50px;
  height: 50px;
  background: none;
}

.copyright p,
.copyright a {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.copyright a {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.copyright,
.copyright_statement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.copyright_statement {
  margin: 2rem;
}

@media (max-width: 700px) {
  .footer_top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer_left a {
    font-size: 3rem;
  }

  .footer_top .footer_middle,
  .footer_top .footer_right {
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
}
