* {
  box-sizing: border-box;
  font-family: CircularStd;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sidebar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  transition: all, 0.5s ease-in-out;
  position: relative;
  z-index: 1;
}

.sidebar_main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  padding-top: 5rem;
  padding-right: 1rem;
  position: relative;
  z-index: -1;
}

.sidebar_main a {
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  transition: 0.5s;
}

.sidebar_main a::after {
  content: '';
  display: block;
  width: 0px;
  height: 3px;
  background: #b50aec;
  transition: width 0.5s;
}

.sidebar_main a:hover::after,
.sidebar_main a:hover::after,
.sidebar_main a:hover::after {
  width: 100%;
  transition: width 0.5s;
}

.sidebar_main a:hover,
.sidebar_main a:focus,
.sidebar_main a:active {
  margin-right: 2rem;
  transition: 0.5s;
}

.sidebar_container {
  display: none;
}

.burger {
  display: none;
  cursor: pointer;
  transition: all 0.5s;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.navigation_bar_container a {
  text-decoration: none;
}

.navigation_bar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navigation_bar_container > .left_navigation > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  /* padding: 1.5rem; */
  font-family: 'Satisfy', cursive;
}

.navigation_bar_container > .left_navigation img {
  width: 50px;
  height: 50px;
}

.navigation_bar_container > .right_navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3rem;
}

.navigation_bar_container > .right_navigation a {
  padding-right: 1rem;
  font-weight: bold;
  color: white;
  font-family: 'Roboto Slab', serif;
  padding-left: 2rem;
}

.navigation_bar_container > .right_navigation a::after {
  content: '';
  display: block;
  width: 0px;
  height: 5px;
  background: white;
  transition: width 0.5s;
}

.navigation_bar_container > .right_navigation a:hover::after {
  width: 100%;
  transition: width 0.5s;
}

@media (max-width: 1170px) {
  .navigation_bar_container {
    justify-content: center;
  }

  .burger {
    position: fixed;
    left: 2rem;
    transition: all 0.5s;
  }

  .navigation_bar_container > .right_navigation {
    display: none;
  }

  .burger {
    display: block;
  }

  .sidebar_container {
    display: inline-block;
    position: fixed;
    right: 0;
    top: 4.5rem;
    transform: translateX(100%);
    transition: all, 0.5s ease-in;
  }
}

.sidebar_container_active {
  transform: translateX(0%);
  transition: all, 0.5s ease-out;
}

.highlighted_products_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;
}

.product .product_review,
.product .product_picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.first_place_product .product_review,
.third_place_product .product_review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  object-fit: fill;
}

.second_place_product .product_review {
  align-items: flex-end;
}

.second_place_product .top_product {
  display: none;
}

.highlighted_products_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highlighted_products_container .product {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.highlighted_products_container .product .product_picture {
  padding-top: 0;
}

.product a {
  text-decoration: none;
}

.product .product_model,
.product .product_name,
.product .product_feature {
  font-size: 2rem;
  font-weight: 500;
}

.product_name {
  font-size: 2.5rem;
  font-weight: 500;
}

.order_button {
  border: 2px solid black;
  margin: 0.5rem 0;
  padding: 0.4rem 2rem;
  border-radius: 20px;
  font-size: 1.2rem;
  color: black;
  transition: background 0.5s;
}

.order_button:hover,
.order_button:active,
.order_button:focus {
  background: black;
  color: white;
  transition: background 0.5s;
}

.product_information a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #4100e1;
}

.product_information a::after {
  content: '';
  display: block;
  width: 0px;
  height: 3px;
  background: #4100e1;
  transition: width 0.5s;
}

.product_information a:hover::after,
.product_information a:focus:after,
.product_information a:active::after {
  width: 100%;
  transition: width 0.5s;
  object-fit: cover;
}

.product_picture img {
  margin-top: 0.5rem;
  width: 500px;
  height: 500px;
}

@media (max-width: 1150px) {
  .navigation_bar_container > .left_navigation > a {
    font-size: 1.5rem;
  }

  .navigation_bar_container > .left_navigation img {
    width: 40px;
    height: 40px;
  }

  .navigation_bar_container > .right_navigation {
    padding-right: 0;
  }

  .highlighted_products_container {
    flex-direction: column;
    justify-content: center;
  }

  .product .product_model,
  .product .product_name,
  .product .product_feature {
    font-size: 1.5rem;
  }

  .product_name {
    font-size: 2rem;
    font-weight: 500;
  }

  .highlighted_products_container .product {
    display: flex;
    flex-direction: column;
  }

  .second_place_product .bottom_product {
    display: none;
  }

  .second_place_product .top_product {
    display: flex;
  }

  .product_picture img {
    margin-top: 0.5rem;
    width: 400px;
    height: 400px;
  }
}

.highlighted_products_container_hide {
  display: none;
}

@media (max-width: 500px) {
  .product .product_model,
  .product .product_name,
  .product .product_feature {
    font-size: 1.2rem;
  }

  .product_picture img {
    margin-top: 0.5rem;
    width: 300px;
    height: 300px;
  }
}

.subscribe_form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 25rem;
}

.subscribe_form_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscribe_form_main img {
  width: 100px;
  height: 100px;
}

.subscribe_form_main p {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.subscribe_form_main .subscribe_title {
  font-size: 2.5rem;
  padding: 1rem;
}

.subscribe_form_main .subscribe_now {
  font-size: 1.5rem;
  padding: 1rem;
}

.subscribe_input_field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe_input_field input:first-of-type {
  border: 2px solid black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.3rem;
  width: 15rem;
  font-family: 'Roboto Slab', serif;
  margin-right: 0.5rem;
}

.subscribe_input_field input:first-of-type:focus,
.subscribe_input_field input:first-of-type:active,
.subscribe_input_field input:first-of-type:hover {
  outline: none;
}

.subscribe_input_field .subscribe_button {
  padding: 0.5rem 1rem !important;
  border: 2px solid black !important;
  font-family: 'Roboto Slab', serif;
  background: black;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}

.subscribe_input_field .subscribe_button:hover,
.subscribe_input_field .subscribe_button:focus,
.subscribe_input_field .subscribe_button:active {
  color: black;
  background: white;
  transition: all 0.5s;
}

@media (max-width: 500px) {
  .subscribe_form_main {
    width: 90%;
  }

  .subscribe_form_main .subscribe_title {
    font-size: 2rem;
  }

  .subscribe_form_main .subscribe_now {
    font-size: 1rem;
  }

  .subscribe_input_field {
    flex-direction: column;
  }

  .subscribe_input_field input:first-of-type {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .subscribe_input_field .subscribe_button {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 2px solid black;
  }
}
