.products_navbar_container {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  position: relative;
  z-index: 0;
}

.right_navigation_bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 1;
}

.right_navigation_bar div {
  cursor: pointer;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.sidebar_container {
  z-index: 1;
  top: 4.5rem;
  height: 100%;
}

.products_container {
  position: relative;
}

.products_main img {
  width: 300px;
  height: 300px;
}

.products_main .product_name {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  text-align: center;
}

.products_main .product_price {
  font-size: 1.2rem;
  color: red;
}

.buying_option_btn_group {
  /* display: flex; */
  /* justify-content: center; */
}

.buying_option_btn_group button {
  padding: 0.3rem 1rem;
  border-radius: 10px;
  margin: 0 0.5rem;
}

.buying_option_btn_group .buy_btn {
  border: 2px solid #0b1ccb;
  background: #0b1ccb;
  color: white;
  transition: all 0.5s;
}

.buying_option_btn_group .buy_btn:hover,
.buying_option_btn_group .buy_btn:focus,
.buying_option_btn_group .buy_btn:active {
  background: white;
  color: #0b1ccb;
  transition: all 0.5s;
}

.buying_option_btn_group .add_to_cart_btn {
  border: 2px solid red;
  background: red;
  color: white;
  transition: all 0.5s;
}

.buying_option_btn_group .add_to_cart_btn:hover,
.buying_option_btn_group .add_to_cart_btn:focus,
.buying_option_btn_group .add_to_cart_btn:active {
  background: white;
  color: red;
  transition: all 0.5s;
}

.right_navigation_bar a {
  text-decoration: none;
  color: black;
}

.right_navigation_bar div {
  transition: all 0.5s;
  font-weight: bold;
}

.right_navigation_bar div:hover,
.right_navigation_bar div:focus,
.right_navigation_bar div:active {
  margin-left: 1.5rem;
  transition: all 0.5s;
}

.right_navigation_bar div::after {
  content: '';
  display: block;
  width: 0px;
  height: 3px;
  background: #b50aec;
  transition: width 0.5s;
}

.right_navigation_bar div:hover::after,
.right_navigation_bar div:hover::after,
.right_navigation_bar div:hover::after {
  width: 100%;
  transition: width 0.5s;
}

@media (max-width: 1200px) {
  .right_navigation_bar {
    display: none;
  }
}

.single_product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products_container_hide {
  display: none;
}
