.contact_form_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 0;
  margin: 6rem 0;
  flex-direction: column;
}

.contact_form_main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 40%;
}

.contact_form_main div {
  width: 100%;
}

.contact_form_main hr {
  width: 100%;
  height: 2px;
}

.contact_form_main p {
  align-self: flex-start;
  width: 100%;
  margin: 0;
}

.contact_form_main p {
  font-size: 1.2rem;
}

.contact_form_main p:first-of-type {
  font-size: 2rem;
}

.contact_form_main p,
.contact_form_main select,
.contact_form_main label,
.contact_form_main input {
  font-family: 'Roboto Slab', serif !important;
}

.contact_form_main button {
  padding: 0.5rem 0;
  width: 100%;
  border: 2px solid black;
  background: black;
  color: white;
  transition: all 0.5s;
  font-family: 'Roboto Slab', serif;
}

.contact_form_main button:hover,
.contact_form_main button:focus,
.contact_form_main button:active {
  outline: none;
  background: white;
  color: black;
  transition: all 0.5s;
}

.contact_form_container .error_message {
  border: 2px solid red;
  color: white;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: fit-content;
  position: fixed;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  transform: translateX(100%);
  transition: all, 0.5s ease-in;
  right: 0;
  top: 7rem;
  border-radius: 5px;
  margin-right: 0;
  cursor: pointer;
}

.error_message_active {
  transform: translateX(0%) !important;
  transition: all, 0.5s ease-out;
  margin-right: 0.5rem !important;
  z-index: 2 !important;
}

.contact_form_container .error_message p {
  font-size: 1rem !important;
}

/* .error_message_active {
  display: inline-block !important;
} */

.order_number_container_hide {
  display: none;
}

.order_number_container {
  margin: 1rem 0;
}

.message_text_area {
  margin: 1rem 0;
  font-family: 'Roboto Slab', serif;
}

.contact_form_container a {
  text-decoration: none;
  margin-top: 1rem;
  color: black;
  font-family: 'Roboto Slab', serif;
  border-bottom: 3px solid white;
}

.contact_form_container a:focus,
.contact_form_container a:hover,
.contact_form_container a:active {
  border-bottom: 3px solid black;
}

@media (max-width: 1000px) {
  .contact_form_main {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .contact_form_main {
    width: 70%;
  }

  .contact_form_main p {
    font-size: 1.2rem;
  }

  .contact_form_main p:first-of-type {
    font-size: 1.7rem;
  }

  .contact_form_container .error_message {
    border-radius: 0 !important;
    top: 4.5rem !important;
  }

  .error_message_active {
    width: 100% !important;
    margin-right: 0 !important;
  }
}

@media (max-width: 500px) {
  .contact_form_main {
    width: 80%;
  }

  .contact_form_main p {
    font-size: 1rem;
  }

  .contact_form_main p:first-of-type {
    font-size: 1.5rem;
  }
}
