.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.login_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  position: relative;
  background: white;
  margin-top: 3rem;
}

.login_main div {
  margin-bottom: 1rem;
  width: 100%;
}

.login_main .login_img img {
  width: 75px;
  height: 75px;
}

.login_main input {
  width: 100%;
}

.login_subscribe_btn_group_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_subscribe_btn_group_container .subscribe_btn {
  margin: 0;
  text-align: center;
}

.login_subscribe_btn_group_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.login_subscribe_btn_group_container button {
  padding: 0.5rem 2rem;
  border: 2px solid black;
  width: 8rem;
  height: 100%;
  background: white;
  color: black;
  transition: all 0.5s;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 1.2rem;
  font-weight: bold;
  transition: all 0.2s;
}

.login_subscribe_btn_group_container button:hover,
.login_subscribe_btn_group_container button:focus,
.login_subscribe_btn_group_container button:active {
  background: black;
  color: white;
  transition: all 0.2s;
}

@media (max-width: 1080px) {
  .login_main {
    margin-top: 7rem;
  }
}

@media (max-width: 1024px) {
  .login_container {
    align-items: flex-start;
  }

  .login_main {
    margin-top: 8rem;
  }
}

@media (max-width: 600px) {
  .login_main {
    margin-top: 6rem;
    width: 90%;
  }
}
