.navigation_bar_container {
  z-index: 1;
}

.single_product_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.single_product_main {
  width: 80%;
}

.product_buying_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product_buying_option {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add_to_cart_button a,
.reserve_in_store_button a {
  text-decoration: none;
  color: black;
  display: inline-block;
  width: 20rem;
  height: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  transition: all 0.5s;
  text-align: center;
}

.add_to_cart_button a:hover,
.add_to_cart_button a:focus,
.add_to_cart_button a:active {
  background-color: black;
  color: white;
  transition: all 0.5s;
}

.reserve_in_store_button a,
.reserve_in_store_button a,
.reserve_in_store_button a {
  border-color: #0b1ccb;
  color: #0b1ccb;
  transition: all 0.5s;
}

.reserve_in_store_button a:hover,
.reserve_in_store_button a:focus,
.reserve_in_store_button a:active {
  background: #0b1ccb;
  color: white;
  transition: all 0.5s;
}

.product_buying_container .product_img img {
  width: 400px;
  height: 400px;
}

.product_buying_option .product_price {
  font-weight: bold;
  font-size: 2rem;
}

.product_buying_option img {
  width: 25px;
  height: 25px;
}

.product_description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
}

.product_description b {
  font-size: 1.2rem;
}
.product_description p {
  font-size: 1.1rem;
}

.product_information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2rem;
}

.product_information .information_header {
  display: flex;
  align-items: center;
  width: auto;
}

.product_information .information_header div {
  margin-right: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.1rem;
  border-bottom: 2px solid white;
  transition: all 0.1s;
}

.product_information .information_header div:hover {
  color: #0b1ccb;
  border-bottom: 2px solid #0b1ccb;
  transition: all 0.1s;
}

.product_information .information_header div:active,
.product_information .information_header div:focus {
  color: black;
  border-bottom: 2px solid black;
  transition: all 0.1s;
}

.hide_product_info {
  display: none;
}

.hide_return_policy {
  display: none;
}

.return_policy_field p {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  font-size: 1.2rem;
  padding-top: 1rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1000px) {
  .return_policy_field p {
    width: 100%;
  }

  .single_product_main {
    width: 90%;
  }

  .product_buying_container {
    flex-direction: column;
  }
  .product_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .add_to_cart_button a,
  .reserve_in_store_button a {
    width: auto;
    height: 3rem;
  }

  .product_buying_option .buy_and_reserve_btn_group {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .product_buying_option .buy_and_reserve_btn_group div {
    width: 25%;
    margin: 0 1rem;
  }
}

@media (max-width: 500px) {
  .single_product_main .product_name > p:first-child {
    font-size: 1.5rem;
    text-align: center;
  }

  .product_buying_container .product_img img {
    width: 300px;
    height: 300px;
  }

  .product_description {
    font-size: 1rem;
  }

  .product_buying_option .buy_and_reserve_btn_group div {
    width: 45%;
    margin: 0 0.5rem;
  }
}
