.product_reference_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.product_reference_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.product_reference_main a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-family: 'Roboto Slab', serif;
  padding-top: 1rem;
  border-bottom: 3px solid white;
  text-align: center;
}

.product_reference_main a:hover,
.product_reference_main a:focus,
.product_reference_main a:active {
  border-bottom: 3px solid black;
}

.product_reference_main > p {
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.product_reference_main > p:first-child {
  font-size: 2rem;
  font-family: 'Satisfy', cursive;
}
