body {
  overflow-y: scroll;
}

.subscribe_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  position: relative;
  z-index: 0;
}

.subscribe_main div {
  width: 100%;
}

.subscribe_main img {
  width: 75px;
  height: 75px;
}

.subscribe_main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  position: relative;
  background: white;
  margin-top: 5rem;
  padding: 2rem;
}

.subscribe_main input {
  width: 100%;
  position: relative;
}

.user_full_name {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.user_full_name {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user_full_name div {
  width: 45%;
}

.subscribe_container div {
  margin-bottom: 1rem;
}

.subscribe_login_button_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.subscribe_login_button_group button {
  padding: 0.5rem 2rem;
  border: 2px solid black;
  background: white;
  font-weight: bold;
  margin-bottom: 1.2rem;
  width: 100%;
  transition: all 0.2s;
}

.subscribe_login_button_group button:hover,
.subscribe_login_button_group button:focus,
.subscribe_login_button_group button:active {
  color: white;
  background: black;
  transition: all 0.2s;
}

@media (max-width: 1025px) {
  .subscribe_main {
    width: 70%;
  }

  .subscribe_container {
    margin-top: 0;
    align-items: flex-start;
    overflow-x: hidden;
  }
}

@media (max-width: 600px) {
  .subscribe_main {
    width: 90%;
  }
}
